In [52]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [53]:
# Read the CSV file from the folder into a Pandas DataFram6e
df = pd.read_csv(
    Path("C:\\Users\\judy6\\Downloads\\mainDS.csv")
)
# Review the DataFrame
df.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [73]:
columns_to_drop = ['Grade', 'Batch Enrolled', 'Sub Grade', 'Employment Duration', 'Application Type']

# Checking if the columns exist in the DataFrame before dropping them
columns_to_drop = [col for col in columns_to_drop if col in df.columns]

# Drop the specified columns
df = df.drop(columns=columns_to_drop)

In [74]:
df.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Debit to Income,Delinquency - two years,Inquires - six months,...,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,11.135007,176346.62670,16.284758,1,0,...,0.102055,2.498291,0.793724,0,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,12.237563,39833.92100,15.412409,0,0,...,0.036181,2.377215,0.974821,0,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,12.545884,91506.69105,28.137619,0,0,...,18.778660,4.316277,1.020075,0,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,16.731201,108286.57590,18.043730,1,0,...,0.044131,0.107020,0.749971,0,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,15.008300,44234.82545,17.209886,1,3,...,19.306646,1294.818751,0.368953,0,18,0,430,126029,22579,0

In [75]:
y = df['Loan Status']


X = df.drop(columns='Loan Status')

In [76]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Loan Status, dtype: int64

In [77]:
# Reviewing the X variable DataFrame
X.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Debit to Income,Delinquency - two years,Inquires - six months,...,Total Received Interest,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit
0,65087372,10000,32236,12329.36286,59,11.135007,176346.62670,16.284758,1,0,...,2929.646315,0.102055,2.498291,0.793724,0,49,0,31,311301,6619
1,1450153,3609,11940,12191.99692,59,12.237563,39833.92100,15.412409,0,0,...,772.769385,0.036181,2.377215,0.974821,0,109,0,53,182610,20885
2,1969101,28276,9311,21603.22455,59,12.545884,91506.69105,28.137619,0,0,...,863.324396,18.778660,4.316277,1.020075,0,66,0,34,89801,26155
3,6651430,11170,6954,17877.15585,59,16.731201,108286.57590,18.043730,1,0,...,288.173196,0.044131,0.107020,0.749971,0,39,0,40,9189,60214
4,14354669,16890,13226,13539.92667,59,15.008300,44234.82545,17.209886,1,3,...,129.239553,19.306646,1294.818751,0.368953,0,18,0,430,126029,22579

In [78]:
# Checking the balance of our target values
target_balance = y.value_counts()
print(target_balance)

0    64125
1     6241
Name: Loan Status, dtype: int64

In [79]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [80]:
print(df.columns)

Index(['ID', 'Loan Amount', 'Funded Amount', 'Funded Amount Investor', 'Term',
       'Interest Rate', 'Home Ownership', 'Debit to Income',
       'Delinquency - two years', 'Inquires - six months', 'Open Account',
       'Public Record', 'Revolving Balance', 'Revolving Utilities',
       'Total Accounts', 'Total Received Interest', 'Total Received Late Fee',
       'Recoveries', 'Collection Recovery Fee', 'Collection 12 months Medical',
       'Last week Pay', 'Accounts Delinquent', 'Total Collection Amount',
       'Total Current Balance', 'Total Revolving Credit Limit', 'Loan Status'],
      dtype='object')

In [81]:
X.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Debit to Income,Delinquency - two years,Inquires - six months,...,Total Received Interest,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit
0,65087372,10000,32236,12329.36286,59,11.135007,176346.62670,16.284758,1,0,...,2929.646315,0.102055,2.498291,0.793724,0,49,0,31,311301,6619
1,1450153,3609,11940,12191.99692,59,12.237563,39833.92100,15.412409,0,0,...,772.769385,0.036181,2.377215,0.974821,0,109,0,53,182610,20885
2,1969101,28276,9311,21603.22455,59,12.545884,91506.69105,28.137619,0,0,...,863.324396,18.778660,4.316277,1.020075,0,66,0,34,89801,26155
3,6651430,11170,6954,17877.15585,59,16.731201,108286.57590,18.043730,1,0,...,288.173196,0.044131,0.107020,0.749971,0,39,0,40,9189,60214
4,14354669,16890,13226,13539.92667,59,15.008300,44234.82545,17.209886,1,3,...,129.239553,19.306646,1294.818751,0.368953,0,18,0,430,126029,22579

In [82]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
model = LogisticRegression(random_state=1)

# Fit the model using training data
model.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [83]:
# Make a prediction using the testing data
predictions = model.predict(X_test)

In [84]:
# Print the balanced_accuracy score of the model
balanced_accuracy = balanced_accuracy_score(y_test, predictions)

In [85]:
# Generate a confusion matrix for the model
confusion = confusion_matrix(y_test, predictions)

In [86]:
# Print the classification report for the model
print("Balanced Accuracy Score:", balanced_accuracy)
print("Confusion Matrix:", confusion)
class_rep = classification_report(y_test, predictions)
print("Classification Report:", class_rep  )

Balanced Accuracy Score: 0.5
Confusion Matrix: [[16031     0]
 [ 1561     0]]
Classification Report:               precision    recall  f1-score   support

           0       0.91      1.00      0.95     16031
           1       0.00      0.00      0.00      1561

    accuracy                           0.91     17592
   macro avg       0.46      0.50      0.48     17592
weighted avg       0.83      0.91      0.87     17592

C:\ProgramData\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [87]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
random = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_train_re, y_train_re = random.fit_resample(X_train, y_train)

In [88]:
# Count the distinct values of the resampled labels data
distinct_classes = np.unique(y_train_re)
print("Distinct Classes:", distinct_classes)

Distinct Classes: [0 1]

In [89]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
model_two = LogisticRegression(random_state=1)

# Fit the model using the resampled training data
model_two.fit(X_train_re, y_train_re)

# Make a prediction using the testing data
model_two_prediction = model_two.predict(X_test)

In [90]:
# Print the balanced_accuracy score of the model 
balanced_accuracy_score(y_test, model_two_prediction)

0.5092830031308255

In [91]:
# Generate a confusion matrix for the model
confm = confusion_matrix(y_test, model_two_prediction)
print("Confusion Matrix:", confm)

Confusion Matrix: [[9222 6809]
 [ 869  692]]

In [92]:
# Print the classification report for the model
class_report = classification_report(y_test, model_two_prediction)
print("Classification Report:", class_report)

Classification Report:               precision    recall  f1-score   support

           0       0.91      0.58      0.71     16031
           1       0.09      0.44      0.15      1561

    accuracy                           0.56     17592
   macro avg       0.50      0.51      0.43     17592
weighted avg       0.84      0.56      0.66     17592