In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler
import h5py

In [2]:
# Read the CSV file from the folder into a Pandas DataFram6e
df = pd.read_csv(
    Path("C:\\Users\\judy6\\Downloads\\mainDS.csv")
)
# Review the DataFrame
df.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [3]:
columns_to_drop = ['Grade', 'Batch Enrolled', 'Sub Grade', 'Employment Duration', 'Application Type']

# Checking if the columns exist in the DataFrame before dropping them
columns_to_drop = [col for col in columns_to_drop if col in df.columns]

# Drop the specified columns
df = df.drop(columns=columns_to_drop)

In [4]:
df.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Verification Status,Payment Plan,Loan Title,...,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,11.135007,176346.62670,Not Verified,n,Debt Consolidation,...,0.102055,2.498291,0.793724,0,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,12.237563,39833.92100,Source Verified,n,Debt consolidation,...,0.036181,2.377215,0.974821,0,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,12.545884,91506.69105,Source Verified,n,Debt Consolidation,...,18.778660,4.316277,1.020075,0,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,16.731201,108286.57590,Source Verified,n,Debt consolidation,...,0.044131,0.107020,0.749971,0,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,15.008300,44234.82545,Source Verified,n,Credit card refinancing,...,19.306646,1294.818751,0.368953,0,18,0,430,126029,22579,0

In [5]:
y = df['Loan Status']


X = df.drop(columns='Loan Status')

In [6]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Loan Status, dtype: int64

In [7]:
# Reviewing the X variable DataFrame
X.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Verification Status,Payment Plan,Loan Title,...,Total Received Interest,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit
0,65087372,10000,32236,12329.36286,59,11.135007,176346.62670,Not Verified,n,Debt Consolidation,...,2929.646315,0.102055,2.498291,0.793724,0,49,0,31,311301,6619
1,1450153,3609,11940,12191.99692,59,12.237563,39833.92100,Source Verified,n,Debt consolidation,...,772.769385,0.036181,2.377215,0.974821,0,109,0,53,182610,20885
2,1969101,28276,9311,21603.22455,59,12.545884,91506.69105,Source Verified,n,Debt Consolidation,...,863.324396,18.778660,4.316277,1.020075,0,66,0,34,89801,26155
3,6651430,11170,6954,17877.15585,59,16.731201,108286.57590,Source Verified,n,Debt consolidation,...,288.173196,0.044131,0.107020,0.749971,0,39,0,40,9189,60214
4,14354669,16890,13226,13539.92667,59,15.008300,44234.82545,Source Verified,n,Credit card refinancing,...,129.239553,19.306646,1294.818751,0.368953,0,18,0,430,126029,22579

In [8]:
#Dropping columns with variable names
column = ['Verification Status']

In [9]:
df.drop(columns = column, inplace=True)

In [10]:
df.drop(columns = ["Payment Plan", "Loan Title", "ID"], inplace=True)

In [11]:
df.shape

(70366, 26)

In [12]:
df.head()

,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,...,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,10000,32236,12329.36286,59,11.135007,176346.62670,16.284758,1,0,13,...,0.102055,2.498291,0.793724,0,49,0,31,311301,6619,0
1,3609,11940,12191.99692,59,12.237563,39833.92100,15.412409,0,0,12,...,0.036181,2.377215,0.974821,0,109,0,53,182610,20885,0
2,28276,9311,21603.22455,59,12.545884,91506.69105,28.137619,0,0,14,...,18.778660,4.316277,1.020075,0,66,0,34,89801,26155,0
3,11170,6954,17877.15585,59,16.731201,108286.57590,18.043730,1,0,7,...,0.044131,0.107020,0.749971,0,39,0,40,9189,60214,0
4,16890,13226,13539.92667,59,15.008300,44234.82545,17.209886,1,3,13,...,19.306646,1294.818751,0.368953,0,18,0,430,126029,22579,0

In [13]:
# Checking the balance of our target values
target_balance = y.value_counts()
print(target_balance)

0    64125
1     6241
Name: Loan Status, dtype: int64

In [14]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
print(df.columns)

Index(['Loan Amount', 'Funded Amount', 'Funded Amount Investor', 'Term',
       'Interest Rate', 'Home Ownership', 'Debit to Income',
       'Delinquency - two years', 'Inquires - six months', 'Open Account',
       'Public Record', 'Revolving Balance', 'Revolving Utilities',
       'Total Accounts', 'Initial List Status', 'Total Received Interest',
       'Total Received Late Fee', 'Recoveries', 'Collection Recovery Fee',
       'Collection 12 months Medical', 'Last week Pay', 'Accounts Delinquent',
       'Total Collection Amount', 'Total Current Balance',
       'Total Revolving Credit Limit', 'Loan Status'],
      dtype='object')

In [16]:
df.head()

,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,...,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,10000,32236,12329.36286,59,11.135007,176346.62670,16.284758,1,0,13,...,0.102055,2.498291,0.793724,0,49,0,31,311301,6619,0
1,3609,11940,12191.99692,59,12.237563,39833.92100,15.412409,0,0,12,...,0.036181,2.377215,0.974821,0,109,0,53,182610,20885,0
2,28276,9311,21603.22455,59,12.545884,91506.69105,28.137619,0,0,14,...,18.778660,4.316277,1.020075,0,66,0,34,89801,26155,0
3,11170,6954,17877.15585,59,16.731201,108286.57590,18.043730,1,0,7,...,0.044131,0.107020,0.749971,0,39,0,40,9189,60214,0
4,16890,13226,13539.92667,59,15.008300,44234.82545,17.209886,1,3,13,...,19.306646,1294.818751,0.368953,0,18,0,430,126029,22579,0

In [17]:
print(df.dtypes)

Loan Amount                       int64
Funded Amount                     int64
Funded Amount Investor          float64
Term                              int64
Interest Rate                   float64
Home Ownership                  float64
Debit to Income                 float64
Delinquency - two years           int64
Inquires - six months             int64
Open Account                      int64
Public Record                     int64
Revolving Balance                 int64
Revolving Utilities             float64
Total Accounts                    int64
Initial List Status              object
Total Received Interest         float64
Total Received Late Fee         float64
Recoveries                      float64
Collection Recovery Fee         float64
Collection 12 months Medical      int64
Last week Pay                     int64
Accounts Delinquent               int64
Total Collection Amount           int64
Total Current Balance             int64
Total Revolving Credit Limit      int64
Loan Status                       int64
dtype: object

In [18]:
print(df.columns)

Index(['Loan Amount', 'Funded Amount', 'Funded Amount Investor', 'Term',
       'Interest Rate', 'Home Ownership', 'Debit to Income',
       'Delinquency - two years', 'Inquires - six months', 'Open Account',
       'Public Record', 'Revolving Balance', 'Revolving Utilities',
       'Total Accounts', 'Initial List Status', 'Total Received Interest',
       'Total Received Late Fee', 'Recoveries', 'Collection Recovery Fee',
       'Collection 12 months Medical', 'Last week Pay', 'Accounts Delinquent',
       'Total Collection Amount', 'Total Current Balance',
       'Total Revolving Credit Limit', 'Loan Status'],
      dtype='object')

In [19]:
#Dropping columns with variable names
column_one = ['Initial List Status']

In [20]:
df.drop(columns = column_one, inplace=True)

In [21]:
print(df.dtypes)

Loan Amount                       int64
Funded Amount                     int64
Funded Amount Investor          float64
Term                              int64
Interest Rate                   float64
Home Ownership                  float64
Debit to Income                 float64
Delinquency - two years           int64
Inquires - six months             int64
Open Account                      int64
Public Record                     int64
Revolving Balance                 int64
Revolving Utilities             float64
Total Accounts                    int64
Total Received Interest         float64
Total Received Late Fee         float64
Recoveries                      float64
Collection Recovery Fee         float64
Collection 12 months Medical      int64
Last week Pay                     int64
Accounts Delinquent               int64
Total Collection Amount           int64
Total Current Balance             int64
Total Revolving Credit Limit      int64
Loan Status                       int64
dtype: object

In [22]:
df.head()

,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,...,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,10000,32236,12329.36286,59,11.135007,176346.62670,16.284758,1,0,13,...,0.102055,2.498291,0.793724,0,49,0,31,311301,6619,0
1,3609,11940,12191.99692,59,12.237563,39833.92100,15.412409,0,0,12,...,0.036181,2.377215,0.974821,0,109,0,53,182610,20885,0
2,28276,9311,21603.22455,59,12.545884,91506.69105,28.137619,0,0,14,...,18.778660,4.316277,1.020075,0,66,0,34,89801,26155,0
3,11170,6954,17877.15585,59,16.731201,108286.57590,18.043730,1,0,7,...,0.044131,0.107020,0.749971,0,39,0,40,9189,60214,0
4,16890,13226,13539.92667,59,15.008300,44234.82545,17.209886,1,3,13,...,19.306646,1294.818751,0.368953,0,18,0,430,126029,22579,0

In [23]:
# Splitting data into training and testing datasets
from sklearn.model_selection import train_test_split
X = df.drop('Loan Status', axis=1)
y = df['Loan Status'] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [24]:
# Scaling
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
model = LogisticRegression(random_state=1, max_iter=500)

# Fit the model using training data
model.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=500, random_state=1)

In [26]:
X_train.columns

Index(['Loan Amount', 'Funded Amount', 'Funded Amount Investor', 'Term',
       'Interest Rate', 'Home Ownership', 'Debit to Income',
       'Delinquency - two years', 'Inquires - six months', 'Open Account',
       'Public Record', 'Revolving Balance', 'Revolving Utilities',
       'Total Accounts', 'Total Received Interest', 'Total Received Late Fee',
       'Recoveries', 'Collection Recovery Fee', 'Collection 12 months Medical',
       'Last week Pay', 'Accounts Delinquent', 'Total Collection Amount',
       'Total Current Balance', 'Total Revolving Credit Limit'],
      dtype='object')

In [27]:
model.predict

In [28]:
y_train

40936    0
19933    0
43646    0
51349    0
17235    0
        ..
49100    0
20609    0
21440    0
50057    0
5192     0
Name: Loan Status, Length: 56292, dtype: int64

In [29]:
X_train_scaled

array([[ 1.86721483,  1.23416862,  1.7768321 , ..., -0.14172626,
        -0.35331977, -0.848476  ],
       [ 0.33677429,  0.47914565, -0.35150927, ..., -0.18070163,
         0.05167151, -0.10259005],
       [-1.5018592 , -0.94745811, -0.29408373, ..., -0.13366239,
         0.61825834,  2.26721803],
       ...,
       [ 1.20897112,  0.19549129,  1.79726872, ..., -0.15113411,
        -0.32444828, -0.38047382],
       [-1.57277826,  1.43805668, -0.58138228, ..., -0.15247808,
         1.83369203, -0.51315017],
       [-1.21435595, -0.25713039, -0.59066174, ..., -0.12963045,
        -1.00647077,  0.90654413]])

In [30]:
# Make a prediction using the testing data
predictions = model.predict(X_test_scaled)

In [31]:
# Print the balanced_accuracy score of the model
balanced_accuracy = balanced_accuracy_score(y_test, predictions)

In [32]:
# Generate a confusion matrix for the model
confusion = confusion_matrix(y_test, predictions)

In [33]:
# Print the classification report for the model
print("Balanced Accuracy Score:", balanced_accuracy)
print("Confusion Matrix:", confusion)
class_rep = classification_report(y_test, predictions)
print("Classification Report:", class_rep  )

Balanced Accuracy Score: 0.5
Confusion Matrix: [[12827     0]
 [ 1247     0]]
Classification Report:               precision    recall  f1-score   support

           0       0.91      1.00      0.95     12827
           1       0.00      0.00      0.00      1247

    accuracy                           0.91     14074
   macro avg       0.46      0.50      0.48     14074
weighted avg       0.83      0.91      0.87     14074

C:\Users\judy6\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\judy6\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\judy6\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [34]:
X_test_df = pd.DataFrame(X_test)
y_test_df = pd.DataFrame(y_test)

# Define file names for saving
x_test_filename = "X_test.csv"
y_test_filename = "y_test.csv"

# Save X test data to a CSV file
X_test_df.to_csv(x_test_filename, index=False)

# Save y test data to a CSV file
y_test_df.to_csv(y_test_filename, index=False)

print(f"X test data saved to {x_test_filename}")
print(f"y test data saved to {y_test_filename}")

X test data saved to X_test.csv
y test data saved to y_test.csv

In [35]:
#converting the model into an h5 file
h5 = h5py.File("Linear_Regression.h5", "w")

# Create datasets to store your scaled data
h5.create_dataset("X_train_scaled", data=X_train_scaled)
h5.create_dataset("X_test_scaled", data=X_test_scaled)

# Close the HDF5 file
h5.close()